<h2>Sign up</h2>

<%= form_for @user do |f| %>

    <div class="field">
      <%= f.label :address %><br/>
      <%= f.text_field :address, autofocus: true  %>
    </div>

  <div class="field">
    <%= f.label :latitude %><br />
    <%= f.email_field :latitude, autofocus: true %>
  </div>

    <div class="field">
      <%= f.label :longitude %><br />
      <%= f.email_field :longitude, autofocus: true %>
    </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>

<% end %>
