
    <div class="container">
      <div class="row">
        <div class= "col-md-8">
          <video width="600" height="500" autoplay="true">
            <source src="<%= video_path("mapVideo.mp4") %>" type="video/mp4">
            </video>
        </div>

      <div class= "col-md-4">
        <h2>Log in</h2>

        <%= form_for(User.new, as: :user, url: session_path(:user)) do |f| %>
          <div class="field">
            <%= f.label :email%><br />
            <%= f.email_field :email, autofocus: true, placeholder: "name@gmail.com"%>
          </div>

          <div class="field">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <div class="actions">
            <%= f.submit "Log in" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="neighborhood-guides">
<div class="container">
<div class="row">
   <div class="col-md-4">
        <div class="thumbnail">
        <img src="https://d2i1pl9gz4hwa7.cloudfront.net/T1yq4UXa4HR_COFEAkCA7A"></div>
    </div>

<div class="col-md-4">
    <div class="thumbnail">

       <img src="https://i.imgur.com/mM82YXg.png">
     </div>
</div>

<div class="col-md-4">
     <div class="thumbnail">

      <img src="https://www.woopra.com/wp-content/uploads/2014/10/anonymous-profile.png">
    </div>
</div>

</div>
</div>
</div>


  <div class="container">

      <div class="col-md-4">
      <h3>Live Blotter</h3>
      <p>Report crimes. <br> Report Suspicious Activity.</p>
      <p><a href="#">See how</a></p>
    </div>
      <div class="col-md-4">
      <h3>Map of Incidents</h3>
      <p>See reported crimes and suspicious activity happening in your neighborhood.</p>
      <p><a href="#">See more</a></p>
  </div>
      <div class="col-md-4">
      <h3>Trust the community</h3>
      <p>Only Verified community members can report activity.</p>
      <p><a href="#">Learn more</a></p>
  </div>
  </div>
</div>
</div>

</body>
</html>

</div>
</div>
</div>
