<div class='container'>
  <div class = 'row'>
    <div class = 'col-md-6'>
        <%- model_class = Neighborhood -%>
        <div class="page-header">
          <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1> </div>

    <div class="jumbotron">
      <div><%= model_class.human_attribute_name(:name) %>
      <%= @neighborhood.name %></div>
      <div><%= model_class.human_attribute_name(:city) %>
        <%= @neighborhood.city %>
      </div>
      <div><%= model_class.human_attribute_name(:state) %>
        <%= @neighborhood.state %>
      </div>
      <div><%= model_class.human_attribute_name(:latitude) %>
        <%= @neighborhood.latitude %>
      </div>
      <div><%= model_class.human_attribute_name(:longitude) %>
        <%= @neighborhood.longitude %>
      </div>
  </div>

          <%= link_to t('.back', :default => t("helpers.links.back")),
                        neighborhoods_path, :class => 'btn btn-default'  %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_neighborhood_path(@neighborhood), :class => 'btn btn-default' %>

  </div>

    <div class="col-md-6">
     <div class="map-container" style="height:400px; border-radius: 16px 16px; border-color: #fff;
        border-style: solid; box-shadow: 2px 2px 10px #B1B1B1; margin-top: 25px; border-width: 7px;">

        <div id="map" style="height: 384px; width:100%"> </div>
    </div>
    </div>
  </div>
</div>


<script>

  handler = Gmaps.build('Google');
  handler.buildMap({ provider: { disableDefaultUI: true}, internal: {id: 'map'}}, function(){
   markers = handler.addMarkers([
        {
          lat: <%= @neighborhood.latitude %>,
          lng: <%= @neighborhood.longitude %>,
          picture: {
                  url: "https://addons.cdn.mozilla.net/img/uploads/addon_icons/13/13028-64.png",
                  width:  36,
                  height: 36
                }

         }
        ]);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    });


</script>
